/* 
    Document   : styles
    Created on : Sep 25, 2010, 11:52:34 PM
    Author     : pferland
    Description:
        Purpose of the stylesheet follows.
*/
.body {
    background-color: #3366aa;
    color: #fff;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
}
a {
    color: Black;
}

/* 
    Created on : Oct 18, 2010
    Author     : Andrew Calcutt
    Description: WSU specific styles for Custom messages
*/

.wsuheader {
	text-align: center;
	background-color: #003466;
}
.InfoCell {
	text-align: center;
	background-color: #FFFFFF;
}
.MessageTitle {
	text-align: center;
	font-size: 42px;
	font-weight: bold;
}
.MessageText {
	font-size: 36px;
}